* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial';
}
body {
    background-color: #fafafa;
    color: #555;
}
a {
    color: #124574;
    text-decoration: none;
    padding: 1px 3px;
    border-radius: 3px;
    transform: .4s;
}
